
  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Oswald&display=swap');
* {margin:0; padding:0;}

body{background:#fffffA;}

body{
    background: url(../IMG/fondo2.avif);
    background-repeat: no-repeat;
     background-size: cover;  
}


/* estilo del header */
header {
	width:100%;
	overflow: hidden;
	background:#6c3091;
	margin-bottom:20px;
}

.wrapper {
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}

header  {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
}
header .logo{
    
    height: 50px;
    
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	padding:10px 20px;
	text-decoration:none;
	line-height:normal;
	font-size:20px;
	font-family: 'Hedvig Letters Serif', serif;
	font-weight:bold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

header nav a:hover {
	background:#F56F3A;
	border-radius:50px;
}
.container{
    
}
.title{
    font-size: 2rem;
    padding: 10px;
}
.paragraph{
    font-size: 1rem;
}
/* Localidades */

.card {
    position: relative;
    width: 615px;
    height: 450px;
    margin-left: 6%;
    margin-bottom: 5%;
    display: inline-block;
   

}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 3.5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0,.4);
    text-align: center;
}
footer{
    background-color: #6c3091;
}




.container {
    
    padding: 20px;
    
    font-size: 14px;
    color: #FFFFFF;
    background-color: rgba(101, 46, 114, 0.7);
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    line-height: 1.5; 
    border-radius: 10px;
    margin-bottom: 50px;

    max-width: 700px;
    width: 100%;
    /* padding: 45px 20px; */
    margin: 0 auto;
    margin-top: 50px;
    color: #000;
    
  }

  img{
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
    
  }

  .titulo{
    font-size:20px;}





